body {
    background: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-card {
    width: 100%;
    max-width: 400px;
    background: #232c34;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.login-card h4 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.login-card .form-control {
    border-radius: 20px;
}

.login-card .btn-primary {
    border-radius: 20px;
    background: #007bff;
    border: none;
}
.login-card .form-control {
    color: white;
    border-color: #0dcaf0;
    background-color: transparent;
}

.form-label {
    color: #ababab;
}

.login-card h4 {
    color: #0dcaf0;
}
.login-card .btn-primary{
    background: #0dcaf0;
    border: solid 2px #0dcaf0;
    transition: all 1s;
}
.login-card .btn-primary:hover {
    border-color: #0dcaf0;
    border: solid 2px #0dcaf0;
    background-color: transparent;
}